* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anousment bar Css Start */
.anousment-bar {
    background-color: black;
}

/* anousment bar Css end */

/* Navbar dekstop Css Start  */

.dekstop-header {
    display: block;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: red;
    transition: 0.8s;
}

/* Navbar dekstop Css End  */

.account-inner-box{
    position: absolute;
    right: 0.5rem;
    border-radius: 5px;
    background-image: linear-gradient(purple, black);
    opacity: 0.7;
    color: white;
    z-index: 1;
}

/* Navbar mobile Css Start  */

.mobile-header {
    display: none;
}

ul li a {
    color: black;
    text-decoration: none;
}

/* Navbar mobile Css End  */

/* Navbar media quary start  */
@media screen and (max-width:991px) {

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .mobile-header .logo img {
        height: auto;
        width: 35vw;
    }

    .nav-input {
        width: 100%;
    }

    .bi-list {
        cursor: pointer;
    }
    
}

/* Navbar media quary end  */


/* LOG IN PAGE CSS */


.log-in-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.log-in-section-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* log-in css start */

.login-account{
    margin-top: 5rem;
    margin-left: 5rem;
}
.login-account h1{
    font-size: 30px;
}
.login-account .input{
    border-bottom-style:double;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 40px;
    width: 20rem;
    
}
.login-account .button-one{
    width: 10rem;
    height: 40px;
    background-color: rgba(219, 68, 68, 1);
    border: 1px solid transparent;
    border-radius: 5px;
}

.login-text{
    display: flex;
    margin-top: 15px;
}


@media screen and (max-width: 1200px){
    .sign-up .row{
        display: block;
    }

}

/* log-in css end */

/* footer css start */

.desktop-footer{
    background-color: black;
}

footer h4{
    padding-bottom: 30px;
}


.column-5 p {
    font-size: 10px;
}

.column-5-inner {
    display: flex;
    flex-direction: wrap;
    gap: 15px;
}

/* footer css end */

